* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
}

.parent {
    width: 600px;
    height: 600px;
    background: #eb15eb;
}

.green {
    flex: 200px 1 1;
}

.size-blue {
    height: 50px;
    width: 50px;
}

.size-yellow {
    min-width: calc((100% - 10px) / 3);
}

.size {
    flex: 1 1 75%;
}

.d_flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.bg-green {
    background: #2dc02d;
}

.bg-blue {
    background: #5454e6;
}

.bg-yellow {
    background: #fefe3c;
}

.p-10 {
    padding: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.square1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.square2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.square3 {
    align-items: flex-end;
}

.square0 {
    justify-content: flex-end;
}